@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgba(0, 0, 0, 0.945);
}

header{
    color: rgb(196, 196, 3);
    padding: 10px;
    margin: 20px;
}

header > h2 {
    padding: 0px 55px;
    margin-top: -8px;
}

nav{
    text-align: right;
    display: inline;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}