@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    width: 100%;
    height: 90vh;
}

header{
    color: rgb(196, 196, 3);
    padding: 10px;
    font-size: 1em;
}

i#burguer{
    display: block; 
    padding: 10px 0px;
    cursor: pointer;
}

menu#conteiner{
    display: flex;
    flex-flow: column nowrap;
}

div#itens{
    padding: 10px 0px;
}

menu  ul{
    list-style: none;
}

menu a{
    text-decoration: none;
    color: rgb(196, 196, 3);
}
