@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: white;
    width: 100%;
    height: 90vh;
}

header{
    color: rgb(196, 196, 3);
    padding: 10px;
    font-size: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 20px;
    row-gap: 0;
}

h1 {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    line-height: 1;
}

h2 {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    text-align: center;
    line-height: 1;
}

#burguer{
   display: block;
   text-align: end;
   font-size: 1.8em;
   cursor: pointer;
}

menu#conteiner{
    display: none;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    grid-column: 2;
    grid-row: 1 / 3;
}
